# SPDX-FileCopyrightText: © 2026 Tyler Nivin
# SPDX-License-Identifier: MIT

# Check if the .venv directory exists and activate the virtual environment
if [ -d ".venv" ]; then
  # Set the variable that tell Python and other tools we are in a venv.
  export VIRTUAL_ENV=$PWD/.venv

  PATH_add .venv/bin
fi
